# Oracle Attestor Configuration
RPC_URL=https://testnet-rpc.diadata.org
ORACLE_ADDRESS=0x0087342f5f4c7AB23a37c045c3EF710749527c88
SIGNED_ORACLE_ADDRESS=
PRIVATE_KEY=
SYMBOL=BTC/USD
POLLING_TIME=60
DEBUG=false

# L2 Chain Configuration for Cross-Chain Intent System
L2_RPC_URL=https://testnet-rpc.diadata.org
L2_INTENT_CONTRACT=0x30c0A25a54e156487f8FF2F5836c5150A2828632

# OracleIntentConsumer Configuration
CONSUMER_ADDRESS=
