# RPC Configuration
ATTESTOR_RPC_URL=https://testnet-rpc.diadata.org
# ATTESTOR_RPC_URLS=https://testnet-rpc.diadata.org,https://backup-rpc.diadata.org  # For multiple URLs

# Registry RPC Configuration
ATTESTOR_RPC_REGISTRY_URL=https://testnet-rpc.diadata.org
# ATTESTOR_RPC_REGISTRY_URLS=https://testnet-rpc.diadata.org,https://backup-rpc.diadata.org  # For multiple URLs

# Oracle Configuration
ATTESTOR_ORACLE_ADDRESS=0x0087342f5f4c7AB23a37c045c3EF710749527c88

# Registry Configuration
ATTESTOR_REGISTRY_ADDRESS=

# Attestor Configuration
ATTESTOR_ATTESTOR_PRIVATE_KEY=
ATTESTOR_ATTESTOR_SYMBOLS=BTC/USD,ETH/USD
ATTESTOR_ATTESTOR_POLLING_TIME=5s
ATTESTOR_ATTESTOR_BATCH_MODE=false
ATTESTOR_ATTESTOR_MODE=prime
ATTESTOR_ATTESTOR_INTENT_TYPE=OracleUpdate
ATTESTOR_ATTESTOR_INTENT_VERSION=1.0

# Logging Configuration
ATTESTOR_LOGGING_LEVEL=info

# Metrics Configuration
ATTESTOR_METRICS_PORT=8080

# API Configuration
ATTESTOR_API_PORT=8081
